header {
    background: rgba(249, 134, 0, 0.5);
    margin-bottom: 40px;

    .header__wrapper {
        @include block-pos;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include font-params (400, 24px, 29px);

        nav {
            display: flex;
            align-items: center;
            height: 132px;

            >a {
                margin-right: 49px;
            }

            ul {
                display: flex;
                height: 100%;

                a {
                    padding: 51px 10px 52px;
                    margin-right: 46px;
                    display: block;
                    height: 100%;

                    &.active {
                        border-bottom: 3px solid #000;
                    }
                }
            }
        }

        .header_buttons {
            display: flex;

            >a,
            >button {
                &::before {
                    content: '';
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-position: center;
                    background-repeat: no-repeat;
                    vertical-align: middle;
                    margin-right: 25px;
                }

                &.authorization_button {
                    &::before {
                        background-image: url('../../../public/images/user-logo.svg');
                    }
                }

                &.cart_button {
                    color: #FF0000;
                    margin-left: 64px;

                    &::before {
                        background-image: url('../../../public/images/cart-logo.svg');
                    }
                }
            }

            .authorization_menu {
                position: absolute;
                top: 138px;
                background-color: #fcc27b;
                border: 1px #000 solid;

                a,
                button {
                    display: block;
                    padding: 15px;
                    @include font-params (400, 20px, 24px);
                }
            }
        }
    }

}

@media only screen and (max-width: 1919px) and (min-width: 1024px) {
    header {
        margin-bottom: 13px;

        .header__wrapper {
            @include block-pos-laptop;
            @include font-params (400, 16px, 19px);

            nav {
                height: 78px;
                img {
                    margin-right: 35px;
                    width: 79px;
                    height: 58px;
                }

                ul {

                    a {
                        padding: 30px 5px;
                        margin-right: 19px;
                    }
                }
            }

            .header_buttons {

                >a,
                >button {
                    @include font-params (400, 16px, 19px);

                    &::before {
                        width: 30px;
                        height: 30px;
                        margin-right: 20px;
                        background-size: 30px;
                    }

                    &.cart_button {
                        margin-left: 25px;
                    }
                }

                .authorization_menu {
                    top: 78px;

                    a,
                    button {
                        padding: 10px;
                        @include font-params (400, 16px, 19px);
                    }
                }
            }
        }
    }
}