@media (min-width: 360px) and (max-width:768px) {
    aside {
        header ul {
            padding: 5px;
            li {
                @include text (9px, 400, 12px, 0);
                word-break: break-all;
                margin-bottom: 0;
                .css-i4bv87-MuiSvgIcon-root {
                    width: 12px;
                    margin: 0;
                }
            }
        }
    
        section {
            padding: 10px 5px 22px 5px;

            h2 {
                @include text (12px, 600, 12px, 0);
                margin-bottom: 10px;
            }

            .skills {
                li {
                    margin-bottom: 10px;
                    h3 {
                        @include text (10px, 600, 12px, 0);
                        margin-bottom: 5px;
                    }
                    div {
                        height: 10px;
                    }
                }
            }

            .education {
                li {
                    margin-bottom: 10px;
                    .edu-pointer {
                        height: 14px;
                        min-width: 14px;
                        margin-right: 5px;
                        &::after {
                            height: 112px;
                        }
                    }
                    .edu-data {
                        @include text (10px, 400, 12px, 0);
                    }
                }
            }
        }
    }

    main {
        padding-top: 10px;
        h1 {
            padding-left: 15px;
            @include text (34px, 400, 30px, 5px);
            max-width: none;
            margin-bottom: 10px;
        }

        >p {
            @include text (16px, 600, 20px, 0);
            padding-left: 15px;

        }

        section {
            padding: 15px 15px 12px 15px;
            h2 {
                @include text (16px, 700, 20px, 1px);
                margin-bottom: 15px;
            }
            .work-exp {
                li {
                    h3{
                        @include text (12px, 700, 12px, 1px);
                        margin-bottom: 10px;
                    }
                    h4 {
                        @include text (12px, 700, 12px, 1px);
                        margin-bottom: 10px;
                    }
                    p {
                        @include text (10px, 600, 12px, 1px);
                    }
                }
            }
            .lang {
                p {
                    @include text (10px, 600, 10px, 1px);
                    span {
                        margin-left: 10px;
                    }
                }
            }
        }
        .soft-skills {
            ul {
                padding-left: 15px;
                li {
                    @include text (12px, 600, 10px, 1px);
                    margin-bottom: 5px;
                }
            }
        }
        .interests {
            padding-bottom: 11.5px;
            div {
                flex-wrap: wrap;
                svg {
                    height: 90px;
                    width: 90px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}